@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'David Libre', serif;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.process{
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 50px;
    width: 400px;
}

.process_done{
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    transition: 1s ease;
    opacity: 0;
}